/* Import Merriweather from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global font family */
body {
  font-family: 'Merriweather', serif;
}